.bg-login-box {
	background-image: url('http://localhost/penjualan-buku/assets/img/Auth/bg-login-box.jpg');
	background-size: 165%;
	background-position: 1%;
	background-repeat: no-repeat;
}

.bg-login {
	background: linear-gradient(to right, rgba(0, 0, 0, .70), rgba(0, 0, 0, .70)),url('http://localhost/penjualan-buku/assets/img/Auth/bg-login.jpg') ;
	background-repeat: no-repeat;
	background-size: cover;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}